@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 14% 10%;
    --foreground: 210 40% 98%;
    --card: 206 14% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 206 14% 13%;
    --popover-foreground: 210 40% 98%;
    --primary: 208 92% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 208 13% 19%;
    --secondary-foreground: 194 73% 72%;
    --muted: 208 13% 19%;
    --muted-foreground: 215 16% 65%;
    --accent: 194 73% 72%;
    --accent-foreground: 206 14% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 208 13% 19%;
    --input: 208 13% 19%;
    --ring: 208 92% 64%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body selection:bg-primary/30;
  }
  code, pre {
    @apply font-code;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-muted rounded-full hover:bg-muted-foreground/50 transition-colors;
}

.editor-container {
  font-variant-ligatures: none;
}
